[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiomysql = "==0.0.21"
appdirs = "==1.4.4"
asgiref = "==3.3.4"
backcall = "==0.2.0"
bcrypt = "==3.2.0"
certifi = "==2021.5.30"
cffi = "==1.14.5"
click = "==8.0.1"
colorama = "==0.4.4"
cryptography = "==3.4.7"
databases = "==0.4.3"
decorator = "==5.0.9"
distlib = "==0.3.2"
ecdsa = "==0.17.0"
environs = "==9.3.2"
fastapi = "==0.65.2"
filelock = "==3.0.12"
greenlet = "==1.1.0"
h11 = "==0.12.0"
httptools = "==0.2.0"
ipython = "==7.24.1"
jedi = "==0.18.0"
marshmallow = "==3.12.1"
matplotlib-inline = "==0.1.2"
mysqlclient = "==2.0.3"
parso = "==0.8.2"
passlib = "==1.7.4"
pickleshare = "==0.7.5"
pipenv = "==2021.5.29"
prompt-toolkit = "==3.0.19"
pyasn1 = "==0.4.8"
pycparser = "==2.20"
pydantic = "==1.8.2"
python-dotenv = "==0.17.1"
python-jose = "==3.3.0"
python-multipart = "==0.0.5"
rsa = "==4.7.2"
six = "==1.16.0"
starlette = "==0.14.2"
traitlets = "==5.0.5"
typing-extensions = "==3.10.0.0"
uvicorn = "==0.14.0"
virtualenv = "==20.4.7"
virtualenv-clone = "==0.5.4"
watchgod = "==0.7"
wcwidth = "==0.2.5"
websockets = "==9.1"
requests = "~=2.25.1"
pytest = "~=6.2.4"
httpx = "~=0.18.2"
ipython_genutils = "==0.2.0"
Pygments = "==2.9.0"
PyMySQL = "==0.9.3"
PyYAML = "==5.4.1"
SQLAlchemy = "==1.3.24"
fastapi-pagination = "*"

[dev-packages]

[requires]
python_version = "3.9"
